:host {
  padding-top: 125px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  overflow-x: auto;
}

@media print {
  :host {
    padding-top: 0px;
  }
}
