:host {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: system-ui !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #00000050;
}

.voortex-propaganda {
  text-align: center;
}

@media print {
  :host {
    display: none;
  }
}
